.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}
nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.cart {
  justify-self: end;
}
