main {
  margin-right: 10em;
  margin-left: 10em;
}
header {
  margin-bottom: 5em;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  padding-bottom: 1em;
}
nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.cart {
  justify-self: end;
}

.season {
  border: 1px solid black;
  padding: 6em;
  padding-top: 18em;
  padding-bottom: 18em;
}
