@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");

:root {
  --main-color: #ffbe7bff;
  --menu-color: #ffa351ff;
  --discounted-color: rgb(255, 75, 75);
  --card-color: rgb(255, 225, 191);
  --button-color: #f9d4b9;
}

* {
  box-sizing: border-box;
  font-family: "Rowdies", cursive;
}

h1 {
  font-size: 1.5em;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

main {
  margin-right: 10em;
  margin-left: 10em;
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 2em;
  margin-top: 2em;
}
header {
  margin: 0;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  justify-items: center;
  padding-bottom: 1em;
  margin-top: 1em;
}
nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  background-color: var(--menu-color);
  justify-content: space-between;
  padding: 1.5em;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1em;
}

.nav_menu {
  justify-content: center;
  gap: 3em;
  margin: 1.5em;
}
.nav_menu > li {
  padding: 0.5em;
  border-radius: 10px;
}

.nav_menu > li:hover {
  background-color: var(--menu-color);
  color: white;
}

.card_info .price {
  font-size: 1.8em;
  font-weight: bold;
}
.season {
  padding-top: 5rem;
  font-size: 2rem;
}
.categories > h1 {
  font-size: 2.5rem;
  grid-column: 1/-1;
  padding: 1rem;
}

.item_season {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  filter: opacity(50%); /* when hovered change opacity to 100% */
}
.item_season:hover {
  filter: opacity(100%);
}

/*product list*/

.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2em;
  padding-bottom: 1em;
}

.item_essentials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.item_sold_out aside,
.item_discounted aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
}

/*.product_list aside div.price span,*/
.product_list aside .discounted,
.product_list aside .sold_out,
.card_info .sold_out,
.discounted_text,
.item_card .card_info .sold_out,
.item_card .card_info .discounted_text,
.item_card .card_info .discounted {
  display: none;
}
.product_list div.item_discounted aside .discounted,
.product_list div.item_sold_out aside .sold_out,
.card_info .sold_out,
.item_discounted aside .discounted_text,
.item_card.item_sold_out .card_info .sold_out,
.item_card.item_discounted .card_info .discounted_text,
.item_card.item_discounted .card_info .discounted {
  display: initial;
}
.discounted .discount {
  background-color: var(--discounted-color);
  color: white;
  padding: 0.5em;
}

.discounted_text {
  font-size: 1.2em;
}

.old_price {
  text-decoration: line-through;
  color: rgb(80, 80, 80);
}
.item,
.item_card,
.item_sold_out,
.item_discounted {
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 12px;
  justify-content: space-between;
}

.item_sold_out .item_essentials button,
.item_sold_out .add_button {
  filter: opacity(50%);
  color: grey;
}

.item .item_essentials button:hover,
.add_button:hover {
  background-color: var(--menu-color);
}

.item_name {
  margin: 1em;
  font-size: 1.5em;
}

.price,
.new_price {
  font-size: 1.3em;
  margin: 0.5em;
}
.sold_out {
  position: relative;
  background-color: grey;
  color: white;
  padding: 0.1em;
  /* width: 3.7em;
  height: 3.7em;
  line-height: 3.7em;
  border-radius: 50%; */
  text-align: center;
}

/*product page*/

.item_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.item_info {
  grid-row: 2;
  grid-column: 1 / span 2;
  background-color: var(--main-color);
  padding: 2em;
  color: black;
  text-align: left;
  margin: 3em;
  margin-bottom: 1em;
}

.item_info p {
  color: rgb(88, 88, 88);
}

.item_info h4,
.item_info h3 {
  display: block;

  color: black;
}

.sizes {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
  justify-content: space-evenly;
  margin: 1em;
}
.sizes > div {
  border: 1px solid black;
  border-radius: 50%;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
}
.card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.add_button {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-left: 0;
  padding-right: 0;
  background-color: var(--button-color);
  filter: drop-shadow(2px 2px 1px grey);
  color: black;
  font-size: 1em;
}
aside > button,
.add_button {
  background-color: rgb(252, 196, 124);
  border-radius: 50px;
  filter: drop-shadow(2px 2px 1px rgb(218, 159, 83));
  padding: 1em;
  font-size: 1.2em;
}
a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:hover {
  color: black;
}
a:visited {
  color: black;
}

a:active {
  color: var(--main-color);
}

/* media queries*/
@media only screen and (max-width: 1000px) {
  .categories {
    display: grid;
    grid-template-columns: 1fr;
  }
  .season {
    border: 0;
    padding-top: 0;
  }
  main {
    padding-top: 1em;
  }
}
@media only screen and (max-width: 900px) {
  main {
    margin: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .item_card,
  .categories {
    grid-template-columns: 1fr;
  }
  .card_img {
    grid-column: 1;
    grid-row: 1;
  }
  .card_info {
    grid-row: 2;
  }
  .item_info {
    grid-row: 3;
  }
  main {
    margin-right: 3em;
    margin-left: 3em;
  }
}

@media only screen and (max-width: 500px) {
  .nav_menu {
    gap: 1rem;
  }
  .item_info {
    margin: 1rem;
  }
  main {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
